# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# env
.env

# testing
coverage

# build
dist

# misc
.DS_Store
*.pem

# pulumi
Pulumi.*.yaml

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo

# turbo
.turbo

# jest
.jest
